*{
    margin: 0;
    padding: 0;

}
body{
    background-color: blueviolet;
    color: white;
    font-family: 'poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(21, 1, 41);

}

nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
   margin: 0 23px ;

}
nav ul li a{
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
   color: rgb(155, 155, 222);
   size: 1.3em;
    
}
.left{
    font-size: 1.5rem;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0 ;
}

.firstsection div{
    width: 30%;

}
.leftSection{
    font-size: 2.5rem;
    margin: 70px 0 ;
    

}
.rightSection{
    background-color:none; 
    
}
.rightSection img{
    width: 80%;
    margin: 50px 0 ;
}

.Purple{
    color: darkblue;

}

.text-gray{
    color: rgb(15, 15, 15);
}

.secondsection{
    max-width: 80vw;
    margin: auto;
}

.secondsection h1{
    font-size: 1.5rem;
    height: 80vh;

}
.secondsection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0 ;
}